body{
	background-color: #6868C3;
}
#title{
	text-align: center;
	margin-top: 20px;
}

#container{
	width: 650px;
	height: auto;
	background-color: #F2F2F2;
	margin: 10px auto;
	border-radius: 3%;
	padding-top: 10px;
}
#description{
	font-size: 30px;
}

.input-field{
	width: 170px;
	height: 30px;
}
#submit-field{
	text-align: center;
}
label{
	font-weight: bold;
}

@media (max-width: 700px){
	#container{
		width: 95%;
	}
}